<!DOCTYPE html>
<html>
<head>
  <title>Ksurf</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navigation' %>
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
